
.vscode/settings.json
.vscode/launch.json
.vscode/
.vscode/settings.json
# compiled file
__pycache__/

# virtualenv 
venv/
.venv
ENV/

# vscode and pycharm
.vscode/
.idea

# migrate file
migrations/

# vim file
*.swp